.section-footer {
    .mars-footer {
        // background: linear-gradient(180deg, #121223 0%, rgba(18, 18, 35, 0.5) 100%);
        border-bottom: 45px solid #121223;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        height: 0;
        width: auto;
        
        .text {
            padding-top: 12px;
            padding-bottom: 12px;
            font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;

text-align: center;
letter-spacing: 0.01em;

color: #C2C2C2;
        }
    }
}